* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    list-style: none;
}

.wrap {
    min-width: 100%;
    padding-left: 105px;
    padding-right: 105px;
}


.head-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#top-logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 35px;

}

#top-logo a {
    display: inline-block;
    padding-top: 59px;
    width: 122px;
    height: 59px;
    background: url('../assignment4/logo.png') 0 0 no-repeat;
    background-size: 122px auto;
    overflow: hidden;
}

.head-menu-wrap {
    position: relative;
    top: -31px;
    vertical-align: middle;
    padding-left: 162px;
}

.head-menu {
    width: 100%;
}

.left-side-bg {
    display: inline-block;
    width: 27px;
    height: 40px;
    margin-right: -5px;
    vertical-align: middle;
    background: url('../assignment4/navleft.png') 0 0 no-repeat;
}

.middle-side-bg {
    display: inline-block;
    width: 94.33%;
    height: 40px;
    margin-right: -5px;
    vertical-align: middle;
    background: url('../assignment4/navmiddle.png') repeat-x;
    line-height: 40px;
}

.right-side-bg {
    display: inline-block;
    width: 27px;
    height: 40px;
    vertical-align: middle;
    background: url('../assignment4/navright.png') 0 0 no-repeat;
}

.left-side {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    padding-right: 35px;
}

.left-side li a {
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 35px;
    color: #ffffff;
    text-decoration: none;
    line-height: 40px;
}

.left-side li a:first-child {
    padding-left: 20px;
    padding-right: 35px;
}

.left-side li a:not(:first-child) {
    padding: 0 35px;
    border-left: 1px solid black;
}

.right-side {
    display: block;
    float: right;
    text-align: right;
    padding-right: 5px;
}

.left-side li {
    display: inline-block;
}

.right-side li {
    display: inline-block;
}

.right-side li a {
    display: inline-block;
    padding-right: 10px;
    color: #ffffff;
    letter-spacing: -1px;
}

.under-bar-left-bg {
    display: inline-block;
    width: 13px;
    height: 28px;
    vertical-align: middle;
    margin-right: -5px;
    background: url('../assignment4/under-bar-left.png') 0 0 no-repeat;
}

.under-bar-middle-bg {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
    background: url('../assignment4/under-bar-middle.png') repeat-x;
}

.under-bar-right-bg {
    display: inline-block;
    width: 13px;
    height: 28px;
    margin-left: -5px;
    vertical-align: middle;
    background: url('../assignment4/under-bar-right.png') 0 0 no-repeat;
}



.head-under-menu {
    text-align: center;
    margin-bottom: 25px;
}

.under-bar-middle {
    padding-left: 300px;
    padding-right: 300px;
}

.head-under-menu li{
    display: inline-block;
}

.head-under-menu li a {
    padding: 5px 10px;
    color: #9a9a9a;
    font-weight: bold;
    font-size: 14px;
}

.head-under-menu li a span {
    color: #1c3c97;
}

.aside-contents-wrap {
    display: block;
}

aside {
    display: inline-block;
    width: 156px;
    position: absolute;
    top: 180px;
    text-align: center;
}

h2 {
    font-size: 18px;
    padding-top: 7px;
    margin: 0 auto;
    margin-bottom: -4px;
    color: #ffffff;
    background: url('../assignment4/aside-top-bg.png') 0 0 no-repeat;
    background-size: auto;
}

.aside-inner-top-bg {
    width: 157px;
    height: 20px;
    text-align: left;
    background: url('../assignment4/aside-inner-top-bg.png') 0 0 no-repeat;
    background-position-y: 5px;

}

.aside-inner-middle-bg {
    background: url('../assignment4/aside-inner-middle-bg.png') repeat-y;

}

.aside-inner-bottom-bg {
    width: 156px;
    height: 28px;
    background: url('../assignment4/aside-inner-bottom-bg.png') 0 0 no-repeat;
    background-position-y: -17px;
}


.left-align-menu {
    padding: 0 12px;
    font-size: 12px;
    list-style: none;
}



.left-align-menu>li:not(:last-child) {
    border-bottom: 1px dotted #6a6a6a;
}

.left-align-menu li>ul {
    list-style: none;
    border-top: 1px dotted #6a6a6a;
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    text-align: left;
}

.left-align-menu li>ul>li>a:not(:last-child) {
    display: inline-block;
    padding-bottom: 10px;
}

.left-align-menu>li>a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    text-align: left;
    padding: 10px 0 10px 12px;
}

.left-align-menu>li>ul>li>a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    padding: 5px 0;
}

.left-align-menu>li>ul>li>a>span {
    font-weight: bold;
}

.contents-container {
    padding-left: 173px;
}

.top-section {
    display: block;
    text-align: right;
    margin-bottom: 11px;
}

.route {
    display: inline-block;
    color: #7e7e7e;
    font-size: 12px;
}

.route a {
    color: #7e7e7e;
}

.route a span {
    font-weight: bold;
    color: #5a5a5a;
}

h3 {
    font-size: 18pt;
    color: #4f4f4f;
    margin-bottom: 21px;
}

h3 span {
    font-size: 18pt;
    color: #e9712a;
}

.datechecker {
    text-align: center;
    margin-bottom: 14px;
}

table {
    min-width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid lightgray;
}

th {
    padding: 8px 34px;
}

td {
    height: 86px;
}