* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    min-width: 1240px;
    background: url('../assignment4/img/background.png') center top repeat-x;
}

.wrap {
    width: 100%;
    padding-left: 105px;
    padding-right: 105px;
}


.head-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-width: 990px;
    margin-bottom: 22px;
}

#top-logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 38px;
    left: 2px;

}

#top-logo a {
    display: inline-block;
    padding-top: 59px;
    width: 122px;
    height: 59px;
    background: url('../assignment4/img/logo.png') 0 0 no-repeat;
    background-size: 122px auto;
    overflow: hidden;
}

.head-menu-wrap {
    position: relative;
    top: -27px;
    padding-left: 162px;
    text-align: left;
    z-index: 1;
}


.head-menu {
    width: 100%;
    position: relative;
    line-height: 40px;
    padding-right: 36px;
}


.left-side-bg {
    background: url('../assignment4/img/navleft.png') left center no-repeat;
    padding-left: 27px;
}

.middle-side-bg {
    background: url('../assignment4/img/navmiddle.png') center center repeat-x;
}

.right-side-bg {
    background: url('../assignment4/img/header/nav-right.png') right 0 no-repeat;
    padding-right: 20px;
}

.left-side {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    padding-right: 35px;
}

.left-side-list>a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.left-side-list>a:not(:first-child) {
    padding: 0 20px;
    border-left: 1px solid black;
}

.right-side {
    font-size: 11px;
    text-align: right;
}

.rightside-left {
    background: url('../assignment4/img/header/rightside-left-side.png') left 0 no-repeat;
    padding-left: 49px;
    position: absolute;
    top: 0;
    right: -5px;
}

.rightside-mid {
    background: url('../assignment4/img/header/rightside-middle.png') 0 0 repeat-x;
    padding-left: 9px;
    padding-right: 11px;
}

.left-side li {
    display: inline-block;
}

.right-side li {
    display: inline-block;
}

.right-side li a {
    display: inline-block;
    padding-right: 10px;
    color: #ffffff;
    letter-spacing: -1px;
}

.dif-padding-1 {
    padding: 0 33px 0 18px;
}

.dif-padding-2 {
    padding: 0 25px 0 27px;
}

.dif-padding-3 {
    padding: 0 23px 0 26px;
}

.dif-padding-4 {
    padding-left: 33px;
}

.divider {
    background: url('../assignment4/img/header/divider.png') right 0 no-repeat;
}

.under-bar-middle {
    display: block;
    width: 100%;
    padding: 7px;
    position: absolute;
    top: 25px;
    left: 0;
    text-align: center;
    z-index: -1;
    background: url('../assignment4/img/header-under-bar-mid.png') 0 center repeat-x;
}

.head-under-menu li{
    display: inline-block;
}

.under-bar-a {
    color: #9a9a9a;
    font-weight: bold;
    font-size: 12px;
}

.under-bar-padding {
    padding-left: 11px;
}

.under-bar-a span {
    color: #1c3c97;
}

.under-bar-left {
    background: url('../assignment4/img/header-under-bar-left.png') left center no-repeat;
}

.side-contents-wrap {
    display: block;
}

.sidebar-menu {
    display: inline-block;
    width: 156px;
    position: absolute;
    top: 154px;
    left: 100px;
    text-align: center;
}

h2 {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 7px;
    margin: 0 auto;
    margin-bottom: -4px;
    color: #ffffff;
    background: url('../assignment4/img/aside-top-bg.png') 0 0 no-repeat;
    background-size: auto;
}

.side-inner-top-bg {
    padding-top: 9px;
    background: url('../assignment4/img/aside-inner-top-bg.png') center top no-repeat;

}

.side-inner-middle-bg {
    background: url('../assignment4/img/aside-inner-middle-bg.png') center center repeat-y;

}

.side-inner-bottom-bg {
    padding-bottom: 8px;
    background: url('../assignment4/img/aside-inner-bottom-bg.png') center bottom no-repeat;
}


.left-align-menu {
    padding: 0 12px;
    font-size: 12px;
    list-style: none;
}

.dif-padding-a {
    padding: 3px 0 7px 10px;
}

.dif-hover-a {
    padding: 9px 0 6px 10px;
}

.dif-hover-a:hover {
    background-color: #f0f0f0;
}

.left-align-menu>li:not(:last-child) {
    border-bottom: 1px dotted #6a6a6a;
}

.left-align-menu li>ul {
    list-style: none;
    border-top: 1px dotted #6a6a6a;
    background-color: #f0f0f0;
    padding-top: 4.5px;
    padding-bottom: 6.5px;
    padding-left: 6px;
    text-align: left;
}

.left-nav-inner-a:not(:last-child) {
    display: inline-block;
    padding-bottom: 10px;
}

.left-align-menu>li>a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    text-align: left;
    background: url('../assignment4/img/some.png') left center  no-repeat;
}

.left-nav-inner-a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    padding: 3px 0;
}

.left-nav-inner-a:hover {
    background: #ffffff;
}

.left-nav-inner-a>span {
    font-weight: bold;
    color: #408d00;
}

.contents-container {
    padding-left: 167px;
    margin-bottom: 28px;
}

.top-section {
    display: block;
    text-align: right;
    margin-bottom: 5px;
}

.top-left-border {
    background: url('../assignment4/img/bg/top-left-bg-border.jpg') left top no-repeat;

}

.top-right-border {
    background: url('../assignment4/img/bg/top-right-bg-border.jpg') right top no-repeat;
    padding: 24px 0 0 0;
}

.top-border {
    background: url('../assignment4/img/bg/top-bg-border.jpg') 0 top repeat-x;
}

.left-border {
    background: url('../assignment4/img/bg/left-bg-border.jpg') left 0 repeat-y;
    padding-left: 22px;
}

.right-border {
    background: url('../assignment4/img/bg/right-bg-border.jpg') right 0 repeat-y;
    padding-right: 22px;
}

.bottom-left-border {
    background: url('../assignment4/img/bg/bottom-left-bg-border.jpg') left bottom no-repeat;
}

.bottom-right-border {
    background: url('../assignment4/img/bg/bottom-right-bg-border.jpg') right bottom no-repeat;
    padding: 0 0 24px 0;
}

.bottom-border {
    background: url('../assignment4/img/bg/bottom-bg-border.jpg') 0 bottom repeat-x;
}

.position-box {
    width: 500px;
    margin: 100px auto;
}

.contents {
    width: 500px;
    height: 500px;
}

.route {
    display: inline-block;
    color: #7e7e7e;
    font-size: 12px;
}

.route a {
    color: #7e7e7e;
}

.route span {
    font-weight: bold;
    color: #5a5a5a;
}

h3 {
    height: 24px;;
    font-size: 18px;
    color: #4f4f4f;
    padding-left: 37px;
    margin-bottom: 15px;
    background: url('../assignment4/img/bullet2.png') 0 0 no-repeat;
}

h3 span {
    font-size: 18px;
    color: #e9712a;
}

.datechecker {
    text-align: center;
    margin-bottom: 14px;
}

caption {
    display: none;
}

.SSK-table {
    font-size: 12px;
    width: 100%;
    min-width: 115px;
    border-collapse: collapse;
    color: #6a6a6a;
}

button {
    background-color: #ffffff;
    border: 1px solid lightgray;
    padding: 2px 3px;
    cursor: pointer;
}


.left-btn {
    padding-left: 8px;
    background: url('../assignment4/img/button-left.png') 0 center no-repeat;
}

.right-btn {
    padding-right: 8px;
    background: url('../assignment4/img/button-right.png') right center no-repeat;
}


.SSK-table th, .SSK-table td {
    border: 1px solid lightgray;
}

.SSK-table th {
    background: linear-gradient(#ffffff, #f2f2f2);
    padding: 8px 34px;

}

.today-bg span {
    color: #f18061;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.today-bg {
    background-color: #fcf3de;
}

.hover-td {
    padding: 8px;
    min-height: 87px;
    min-width: 115px;
    font-size: 11px;
}

.hover-td:hover {
    border: 1px solid #f09457;
}

.another-color {
    color: #fcf3de;
}

.selected-line {
    border: 1px solid #f09457;
}

.df-color {
    min-height: 87px;
    min-width: 115px;
    background-color: #f7f7f7;
}

footer {
    background: url('../assignment4/img/footer-upper-shadow.png') 0 -34px repeat-x;
    padding-top: 10px;
}

.footer-wrap {
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    color: #999999;
    background: url('../assignment4/img/footer-img.png') 0 0 no-repeat;
    background-position: 193px 10px;
}

.footer-right {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 23px; 
    padding-left: 356px;
}

.footer-right>p>a {
    color: #3279ab;
}

.footer-right>p>a::before {
    content: "✉️";
    padding-right: 3px;
}

.footer-list li{
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 10px;
}

.footer-list li a {
    color: #999999;
}

.footer-list li a span {
    color: #3279ab;
}

.footer-list li:not(:last-child)::after {
    font-weight: lighter;
    padding-left: 15px;
    content: "|";
}

.font-change-footer-address {
    font-style: normal;
}