* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    min-width: 1520px;
    background: url('../assignment4/img/background.png') center top repeat-x;
    background-size: 
}

.wrap {
    width: 100%;
    padding-left: 105px;
    padding-right: 105px;
}


.head-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-width: 1096px;
}

#top-logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 35px;

}

#top-logo a {
    display: inline-block;
    padding-top: 59px;
    width: 122px;
    height: 59px;
    background: url('../assignment4/img/logo.png') 0 0 no-repeat;
    background-size: 122px auto;
    overflow: hidden;
}

.head-menu-wrap {
    position: relative;
    top: -31px;
    padding-left: 162px;
    text-align: center;
}


.head-menu {
    width: 100%;
    line-height: 40px;
    padding-right: 36px;
}

.right-side::after {
    display: block;
    content: "";
    clear: both;
}


.left-side-bg {
    background: url('../assignment4/img/navleft.png') left center no-repeat;
    padding-left: 27px;
}

.middle-side-bg {
    background: url('../assignment4/img/navmiddle.png') center center repeat-x;
}

.right-side-bg {
    background: url('../assignment4/img/navright.png') right center no-repeat;
    padding-right: 27px;
}

.left-side {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    padding-right: 35px;
}

.left-side li a {
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 35px;
    color: #ffffff;
    text-decoration: none;
}

.left-side li a:first-child {
    padding-left: 20px;
    padding-right: 35px;
}

.left-side li a:not(:first-child) {
    padding: 0 35px;
    border-left: 1px solid black;
}

.right-side {
    display: block;
    float: right;
    text-align: right;
    padding-right: 5px;
}

.left-side li {
    display: inline-block;
}

.right-side li {
    display: inline-block;
}

.right-side li a {
    display: inline-block;
    padding-right: 10px;
    color: #ffffff;
    letter-spacing: -1px;
}

.under-bar-left-bg {
    padding-left: 13px;
    background: url('../assignment4/img/under-bar-left.png') left center no-repeat;
}

.under-bar-middle-bg {
    background: url('../assignment4/img/under-bar-middle.png') center center repeat-x;
}

.under-bar-right-bg {
    padding-right: 13px;
    background: url('../assignment4/img/under-bar-right.png') right center no-repeat;
}



.head-under-menu {
    display: inline-block;
    margin-bottom: 25px;
}

.under-bar-middle {
    display: inline-block;
    padding: 3px 400px;
}

.head-under-menu li{
    display: inline-block;
}

.head-under-menu li a {
    padding: 5px 10px;
    color: #9a9a9a;
    font-weight: bold;
    font-size: 14px;
}

.head-under-menu li a span {
    color: #1c3c97;
}

.aside-contents-wrap {
    display: block;
}

aside {
    display: inline-block;
    width: 156px;
    position: absolute;
    top: 180px;
    text-align: center;
}

h2 {
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin: 0 auto;
    margin-bottom: -4px;
    color: #ffffff;
    background: url('../assignment4/img/aside-top-bg.png') 0 0 no-repeat;
    background-size: auto;
}

.aside-inner-top-bg {
    padding-top: 9px;
    background: url('../assignment4/img/aside-inner-top-bg.png') center top no-repeat;

}

.aside-inner-middle-bg {
    background: url('../assignment4/img/aside-inner-middle-bg.png') center center repeat-y;

}

.aside-inner-bottom-bg {
    padding-bottom: 9px;
    background: url('../assignment4/img/aside-inner-bottom-bg.png') center bottom no-repeat;
}


.left-align-menu {
    padding: 0 12px;
    font-size: 12px;
    list-style: none;
}



.left-align-menu>li:not(:last-child) {
    border-bottom: 1px dotted #6a6a6a;
}

.left-align-menu li>ul {
    list-style: none;
    border-top: 1px dotted #6a6a6a;
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    text-align: left;
}

.left-align-menu li>ul>li>a:not(:last-child) {
    display: inline-block;
    padding-bottom: 10px;
}

.left-align-menu>li>a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    text-align: left;
    padding: 10px 0 10px 12px;
}

.left-align-menu>li>ul>li>a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    padding: 5px 0;
}

.left-align-menu>li>ul>li>a>span {
    font-weight: bold;
}

.contents-container {
    padding-left: 173px;
    margin-bottom: 30px;
}

.top-section {
    display: block;
    text-align: right;
    margin-bottom: 5px;
}

.top-left-border {
    background: url('../assignment4/img/left-top-bg.png') left top no-repeat;
    padding-top: 16px;

}

.top-right-border {

    background: url('../assignment4/img/top-right-border.png') right top no-repeat;
}

.top-border {
    background: url('../assignment4/img/top-border.png') center 2px repeat-x;
}

.left-border {
    background: url('../assignment4/img/left-border.png') 1px center repeat-y;
}

.right-border {
    background: url('../assignment4/img/right-border.png') right center repeat-y;
}

.bottom-left-border {

    background: url('../assignment4/img/bottom-left-bg.png') left bottom no-repeat;
    padding-bottom: 6px;
}

.bottom-right-border {

    background: url('../assignment4/img/bottom-right-border.png') right bottom no-repeat;
}

.bottom-border {
    background: url('../assignment4/img/bottom-border.png') center bottom repeat-x;
}

.position-box {
    width: 500px;
    margin: 100px auto;
}

.contents {
    width: 500px;
    height: 500px;
}

.contents-box {
    padding: 24px 22px;
}

.route {
    display: inline-block;
    color: #7e7e7e;
    font-size: 12px;
}

.route a {
    color: #7e7e7e;
}

.route span {
    font-weight: bold;
    color: #5a5a5a;
}

h3 {
    height: 24px;;
    font-size: 18px;
    color: #4f4f4f;
    padding-left: 39px;
    margin-bottom: 21px;
    background: url('../assignment4/img/bullet2.png') 0 0 no-repeat;
}

h3 span {
    font-size: 18px;
    color: #e9712a;
}

.datechecker {
    text-align: center;
    margin-bottom: 14px;
}

caption {
    display: none;
}

table {
    font-size: 12px;
    width: 100%;
    min-width: 1095px;
    min-height: 100%;
    border-collapse: collapse;
    color: #6a6a6a;
}

button {
    background-color: #ffffff;
    border: 1px solid lightgray;
    padding: 2px 3px;
    cursor: pointer;
}


.left-btn {
    padding-left: 8px;
    background: url('../assignment4/img/button-left.png') 0 center no-repeat;
}

.right-btn {
    padding-right: 8px;
    background: url('../assignment4/img/button-right.png') right center no-repeat;
}


table, th, td {
    border: 1px solid lightgray;
}

th {
    background: linear-gradient(#ffffff, #f2f2f2);
    padding: 8px 34px;

}

tr td span {
    color: #f18061;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

td {
    height: 120px;
    text-align: left;
    vertical-align: top;
}

td:hover {
    border-collapse: initial;
    background-color: #fcf3de;
    border: #f09457;
    cursor: pointer;
}

.another-color {
    color: #fcf3de;
}

.selected-line {
    border: 1px solid #f09457;
}

.df-color {
    background-color: #f7f7f7;
}

footer {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    background: url('../assignment4/img/footer-img.png') 0 0 no-repeat;
    background-position: 120px 10px;
}

.footer-right {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 23px; 
    padding-left: 300px;
}

.footer-right>p>a {
    color: #3279ab;
}

.footer-right>p>a::before {
    content: "✉️";
    padding-right: 3px;
}

.footer-list li{
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 10px;
}

.footer-list li a {
    color: #999999;
}

.footer-list li a span {
    color: #3279ab;
}

.footer-list li::after {
    font-weight: lighter;
    padding-left: 15px;
    content: "|";
}

.footer-list li:last-child::after {
    content: "";
}